  h4 {
    color: #7ed321;
  }
  input {
    width: 80%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    transition :0.35s, ease-in-out;
  }
    input:focus {
      outline: 0;
      border-color: darken(saturate( #7ed321, 5%), 10%);
    }
    input:focus + .input-icon>i {
          color: #7ed321;
    }

     .input-group-icon  {
        position: relative;
     }
    .input-group-icon >input {
          padding-left: 4.4em;
        }
     .input-group-icon .input-icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 3.4em;
          height: 3.4em;
          line-height: 3.4em;
          text-align: center;
          pointer-events: none;
     }
          i {
            transition: 0.35s ease-in-out;
          }
        
      
      .acontainer {
        width: 100vw;
        justify-content: center;
        height: fit-content;
        padding: 1em 3em 2em 10em;
        margin: 0em auto;
        background-color: #fff;
        border-radius: 3px * 1.4;
        box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.2);
      }
      
      button{
          background-color: #1215f1;
          color:#e5e5e5;
      }

      label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}
